# vim:set ft=gitignore:

# Git / Editor / Coverage / Linter
.git
.idea
*.swo
*.swp
html/
htmlcov/
.coverage
.coverage.*
.coveragerc
coverage.xml
*,cover
cover/
.pytest_cache/
.tox/
.cache
nosetests.xml
.mypy_cache/

# Synapse
docs/*
CHANGELOG.md
Dockerfile
MANIFEST.in
synapse/tests

# Python
**/*.pyc
**/__pycache__
build
dist
*.egg-info
.eggs
eggs/
*.egg
venv
.python-version
.Python
env/
develop-eggs/
downloads/
lib64/
parts/
sdist/
var/
*.manifest
.installed.cfg
*.spec
pip-log.txt
pip-delete-this-directory.txt
*.mo
*.pot
*.log
target/
