# Example Compose file for a temporary core listening on port 47322
services:
    core:
        build:
            context: .
            dockerfile: ./docker/images/cortex/Dockerfile
        ports:
            - "27492:27492"
        environment:
          SYN_CORTEX_AUTH_PASSWD: root
